* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-image: url("./img/pxfuel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
}

/* .main{

    
} */

.nav-wrap .left img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.box .img-insta img {
  margin-right: 0.4rem;
  height: 1.5rem;
  width: 1.5rem;
}

.nav-wrap {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 0 1.5rem;
  height: 9vh;
  width: 92vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
  backdrop-filter: blur(9px);
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(251, 251, 251, 0.169);
  box-shadow: 0px 0px 20px 0.5px rgba(55, 55, 56, 0.441);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  margin: 0.2rem 0 0.5rem 0;
  box-sizing: border-box;
  padding: 0 1.5rem;
  height: 20vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.6rem;
  backdrop-filter: blur(9px);
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(251, 251, 251, 0.169);
  box-shadow: 0px 0px 10px 0.5px rgba(55, 55, 56, 0.441);
}

.box a {
  font-size: medium;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  color: black;
}

.box1 {
  height: 3rem;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.img-insta {
  height: 3rem;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.Linkdin {
  height: 3rem;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.box:hover {
  transform: translateX(2ch);
  transition-duration: 0.2s;
  transform-origin: right;
}
